body {
    height: 100%;
    background-color: #1a1e23;
    background-image: url("https://cdn.statically.io/img/gcl-cdn.mirakzen.ru/q=100/hk/img/background.png");
    background-attachment: fixed;
    background-size: cover;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Containers */

.container {
    float: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:899px) {
    .container {
        width: 100%;
        min-width: 650px;
    }
}

@media (min-width:900px) {
    .container {
        width: 80%;
    }
}

@media (min-width:1400px) {
    .container {
        width: 60%;
    }
}

.container-flex {
    display: flex;
}

/* Styling things */

.text-white {
    color: #bdbebf;
}

.text-faded {
    color: rgba(255, 255, 255, 0.1);
}

.text-needed {
    color: #ebab34;
}

a {
    color: #b59351;
    text-decoration: none;
}

header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar-text-hilighted {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    color: #ebab34;
}

.navbar-text {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
    color: #fff;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-link,
.navbar-link:focus,
.navbar-link:hover {
    color: #fff;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-link-sm,
.navbar-link-sm:focus,
.navbar-link-sm:hover {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.pb-05 {
    margin-bottom: 0.5rem;
}

.container-background {
    background-image: url("https://cdn.statically.io/img/gcl-cdn.mirakzen.ru/q=100/hk/img/background_content.png");
    background-attachment: fixed;
    background-size: cover;
}

.container-margin {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.rounded-border {
    border-radius: 10px;
    border: 1px solid #453a24;
}

.rounded {
    border-radius: 10px;
}

.element-end {
    margin-left: auto;
}

.element-center {
    float: center;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top:auto; 
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #453a24;
}

th {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #453a24;
}

th.info-content {
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom: none;
}

.th-padding {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

td.r-padding {
    padding-right: 1em;
}

td.info-content {
    border-bottom: none;
}

td.td-50 {
    width: 50%;
}

td.td-33 {
    width: calc(100% / 3);
}

td.td-25 {
    width: 25%;
}

td.td-083 {
    width: calc(100% / 12);
}

.td-padding {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

td.vert-align {
    vertical-align: top;
}

.mark {
    background: url("https://cdn.statically.io/img/dsa-cdn.mirakzen.ru/img//Mark_Dark_Sing.png");
    background-size: 64px;
    background-size: cover;
    width: 64px;
    height: 64px;
}

.mark-button {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.mark-button-nontable {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 0;
}

.button-no-border {
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mark-image {
    width: 50px;
}

.completed {
    background: rgba(0, 255, 0, 0.2);
}

.uncompleted {
    background: rgba(0, 0, 0, 0);
}

/* Style the tab */
.tab {
    overflow: hidden;
    width: 100%;
    font-size: 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: rgba(0, 0, 0, 0.4);
    color: #bdbebf;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

button.triple {
    width: calc(100% / 3);
}

button.double {
    width: 50%;
}

.tab button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: 3px solid #453a24;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table_info {
    border-top: 3px solid #453a24;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.paragraph-top-divider {
    border-top: 3px solid #453a24;
    width: 100%;
}

img.vert-centered {
    vertical-align: middle;
}

.nowrap {
    white-space: nowrap;
}

@media (max-width:1199px) {
    .image-resizable {
        width: 200px;
        height: 200px;
    }
}

@media (min-width:1200px) {
    .image-resizable {
        width: 300px;
        height: 300px;
    }
}

@media (min-width:1400px) {
    .image-resizable {
        width: 200px;
        height: 200px;
    }
}

@media (min-width:1550px) {
    .image-resizable {
        width: 300px;
        height: 300px;
    }
}

button.text-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
